{% extends "base.html" %}
{% load static %}
{% block content %}
  <main class="main-wrapper">
        <!-- Start Breadcrumb Area  -->
       
        <!-- End Breadcrumb Area  -->

        <!-- Start My Account Area  -->
        <div class="axil-dashboard-area axil-section-gap">
            <div class="container">
                <div class="axil-dashboard-warp">
                    <div class="axil-dashboard-author">
                        <div class="media">

                            <div class="thumbnail" style="width: 70px; height: 70px ;">
                                <img  src="{% if user.img %}{{ user.img.url }}{% else %}{% static 'assets/images/default_image.jpeg' %}{% endif %}" alt="Hello Annie">
                            </div>
                            
                            <div class="media-body">
                                <h5 class="title mb-0">Hello {{user.name}}</h5>
                                
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-3 col-md-4">
                            <aside class="axil-dashboard-aside">
                                <nav class="axil-dashboard-nav">
                                    <div class="nav nav-tabs" role="tablist">
                                        <a class="nav-item nav-link active" data-bs-toggle="tab" href="#nav-dashboard" role="tab" aria-selected="true"><i class="fas fa-th-large"></i>Dashboard</a>
                                        <a class="nav-item nav-link" data-bs-toggle="tab" href="#nav-orders" role="tab" aria-selected="false"><i class="fas fa-shopping-basket"></i>Orders</a>
                                        <a class="nav-item nav-link" data-bs-toggle="tab" href="#nav-account" role="tab" aria-selected="false"><i class="fas fa-user"></i>Account Details</a>
                                        <a class="nav-item nav-link" href="{% url 'logout' %}"><i class="fal fa-sign-out"></i>Logout</a>
                                    </div>
                                </nav>
                            </aside>
                        </div>
                        <div class="col-xl-9 col-md-8">
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="nav-dashboard" role="tabpanel">
                                    <div class="axil-dashboard-overview">
                                        <div class="welcome-text">Hello {{user.name}} (not <span>?</span> <a href="{% url 'logout' %}">Log Out</a>)</div>
                                        <p>From your account dashboard you can view your recent orders, manage your shipping and billing addresses, and edit your password and account details.</p>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="nav-orders" role="tabpanel">
                                    <div class="axil-dashboard-order">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Order</th>
                                                        <th scope="col">Date</th>
                                                        <th scope="col">Status</th>
                                                        <th scope="col">Total</th>
                                                        
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                  {% for order in user_orders %}
                                                    <tr>
                                                        <th scope="row">#{{ order.pk }}</th>
                                                        <td>{{order.created_at}}</td>
                                                        <td>{{ order.get_status_display }}</td>
                                                        <td>EG {{order.total_price}} </td>
                                                        
                                                    </tr>
                                                  {% endfor %}
                                                </tbody>

                                            </table>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="tab-pane fade" id="nav-account" role="tabpanel">
                                    <div class="col-lg-9">
                                        <div class="axil-dashboard-account">
                                            <form method="post" class="account-details-form" >
                                              {% csrf_token %}
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="form-group">
                                                            <label>Name</label>
                                                            <input type="text" class="form-control" value="{{user.name}}">
                                                        </div>
                                                    </div>
                                             
                                       
                                                    
                                                      
                                                      <div class="form-group">
                                                        <label>Old Password</label>
                                                        <input type="password" name="old_password" class="form-control">
                                                      </div>
                                                      <div class="form-group">
                                                        <label>New Password</label>
                                                        <input type="password" name="new_password1" class="form-control">
                                                      </div>
                                                      <div class="form-group">
                                                        <label>Confirm New Password</label>
                                                        <input type="password" name="new_password2" class="form-control">
                                                      </div>
                                                      <div class="form-group mb--0">
                                                        <button type="submit" class="axil-btn" name="change_password">Change Password</button>
                                                      </div>
                                                    </form>
                                                    
                                                    {% if messages %}
                                                    <div class="messages">
                                                      {% for message in messages %}
                                                      <p{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</p>
                                                        {% endfor %}
                                                    </div>
                                                    {% endif %}


                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
{% endblock content %}