{% extends 'base.html' %}

{% load static %}
{% block content %}
    <main class="main-wrapper">
        <div class="axil-main-slider-area main-slider-style-1">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5 col-sm-6">
                        <div class="main-slider-content">
                            <div class="slider-content-activation-one">

                            {% for ofer in ofer %}
                                <div class="single-slide slick-slide" data-sal="slide-up" data-sal-delay="400" data-sal-duration="800">
                                    <span class="subtitle"><i class="fas fa-fire"></i> Hot Deal In This Week</span>
                                    <h1 class="title">{{ofer.product.Name}}</h1>
                                    <div class="slide-action">
                                        <div class="shop-btn">
                                            <a href="shop/{{ofer.product.Slug}}" class="axil-btn btn-bg-white"><i class="fal fa-shopping-cart"></i>Shop Now</a>
                                        </div>
                                        <div class="item-rating">
                                            <div class="thumb">
                                                <ul>
                                                    <li><img src="{% static 'assets/images/others/author1.png' %}" alt="Author"></li>
                                                    <li><img src="{% static 'assets/images/others/author2.png' %}" alt="Author"></li>
                                                    <li><img src="{% static 'assets/images/others/author3.png' %}" alt="Author"></li>
                                                    <li><img src="{% static 'assets/images/others/author4.png' %}" alt="Author"></li>

                                                </ul>
                                            </div>
                                            <div class="content">
                                                <span class="rating-icon">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fal fa-star"></i>
                                        </span>
                                                <span class="review-text">
                                            <span>100+</span> Reviews
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                    
                        <div class="col-lg-7 col-sm-6">
                            <div class="main-slider-large-thumb">
                                <div class="slider-thumb-activation-one axil-slick-dots">
                                    <div class="single-slide slick-slide" data-sal="slide-up" data-sal-delay="600" data-sal-duration="1500">
                                        <img src="{{ofer.product.Image.url}}" alt="Product">
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
            <ul class="shape-group">
             <li class="shape-1"><img src="{% static 'assets/images/others/shape-1.png' %}" alt="Shape"></li>
            <li class="shape-2"><img src="{% static 'assets/images/others/shape-2.png' %}" alt="Shape"></li>
            </ul>
        </div>

        <!-- Start Categorie Area  -->
        <div class="axil-categorie-area bg-color-white axil-section-gapcommon">
            <div class="container">
                <div class="section-title-wrapper">
                    <span class="title-highlighter highlighter-secondary"> <i class="far fa-tags"></i> Categories</span>
                    <h2 class="title">Browse by Category</h2>
                </div>
                <div class="categrie-product-activation slick-layout-wrapper--15 axil-slick-arrow  arrow-top-slide">
                    {% for cat in categories %}
                    <div class="slick-single-layout">
                        <div class="categrie-product" data-sal="zoom-out" data-sal-delay="200" data-sal-duration="500">
                            <a href="shop/grid/category/{{cat.Slug}}">
                                <img class="img-fluid" src="{{cat.image.url}}" alt="product categorie">
                                <h6 class="cat-title">{{cat.name}}</h6>
                            </a>
                        </div>
                        <!-- End .categrie-product -->
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- End Categorie Area  -->

        <!-- Poster Countdown Area  -->
      
        <!-- End Poster Countdown Area  -->

        <!-- Start Expolre Product Area  -->
        <div class="axil-product-area bg-color-white axil-section-gap">
            <div class="container">
                <div class="section-title-wrapper">
                    <span class="title-highlighter highlighter-primary"> <i class="far fa-shopping-basket"></i> Our Products</span>
                    <h2 class="title">Explore our Products</h2>
                </div>
                 <div class="new-arrivals-product-activation slick-layout-wrapper--30 axil-slick-arrow  arrow-top-slide">

                        {% for pro in products %}
                        <div class="slick-single-layout">
                            <div class="axil-product product-style-two">
                                <div class="thumbnail">
                                    <a href="shop/{{pro.Slug}}">
                                        <img data-sal="zoom-out" data-sal-delay="200" data-sal-duration="500" src="{{pro.Image.url}}" alt="Product Images">
                                    </a>
                                    <div class="label-block label-right">
                                        <div class="product-badget">{{pro.Flag}}</div>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <div class="inner">
                                        <h5 class="title"><a href="shop/{{pro.Slug}}">{{pro.Name}}</a></h5>
                                        <div class="product-price-variant">
                                            
                                            <span class="price current-price">{{pro.Price}}</span>
                                        </div>
                                        <div class="product-hover-action">
                                            <ul class="cart-action">
                                                <li class="quickview"><a href="{% url 'detail' pro.id %}"  ><i class="far fa-eye"></i></a></li>
                                                <li class="select-option"><a href="{% url 'add_to_cart' pro.id  %}">Add to Cart</a></li>
                                                <li class="wishlist"><a href="{% url 'add_to_wishlist' pro.id %}"><i class="far fa-heart"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <!-- End .slick-single-layout -->
                        <!-- End .slick-single-layout -->
                    </div>
                <div class="row">
                    <div class="col-lg-12 text-center mt--20 mt_sm--0">
                        <a href="{% url 'shop'  %}" class="axil-btn btn-bg-lighter btn-load-more">View All Products</a>
                    </div>
                </div>

            </div>
        </div>
        <!-- End Expolre Product Area  -->

        <!-- Start Testimonila Area  -->
      
        <!-- End Testimonila Area  -->

        <!-- Start New Arrivals Product Area  -->
        <div class="axil-new-arrivals-product-area bg-color-white axil-section-gap pb--0">
            <div class="container">
                <div class="product-area pb--50">
                    <div class="section-title-wrapper">
                        <span class="title-highlighter highlighter-primary"><i class="far fa-shopping-basket"></i>This Week’s</span>
                        <h2 class="title">New Arrivals</h2>
                    </div>
                    <div class="new-arrivals-product-activation slick-layout-wrapper--30 axil-slick-arrow  arrow-top-slide">

                        {% for pro in pro %}
                        <div class="slick-single-layout">
                            <div class="axil-product product-style-two">
                                <div class="thumbnail">
                                    <a href="shop/{{pro.Slug}}">
                                        <img data-sal="zoom-out" data-sal-delay="200" data-sal-duration="500" src="{{pro.Image.url}}" alt="Product Images">
                                    </a>
                                    <div class="label-block label-right">
                                        <div class="product-badget">{{pro.Flag}}</div>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <div class="inner">
                                        <h5 class="title"><a href="shop/{{pro.Slug}}">{{pro.Name}}</a></h5>
                                        <div class="product-price-variant">
                                            
                                            <span class="price current-price">{{pro.Price}}</span>
                                        </div>
                                        <div class="product-hover-action">
                                            <ul class="cart-action">
                                                <li class="quickview"><a href="{% url 'detail' pro.id %}"  ><i class="far fa-eye"></i></a></li>
                                                <li class="select-option"><a href="{% url 'add_to_cart' pro.id  %}">Add to Cart</a></li>
                                                <li class="wishlist"><a href="{% url 'add_to_wishlist' pro.id %}"><i class="far fa-heart"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <!-- End .slick-single-layout -->
                        <!-- End .slick-single-layout -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End New Arrivals Product Area  -->

        <!-- Start Most Sold Product Area  -->
        <div class="axil-most-sold-product axil-section-gap">
            <div class="container">
                <div class="product-area pb--50">
                    <div class="section-title-wrapper section-title-center">
                        <span class="title-highlighter highlighter-primary"><i class="fas fa-star"></i> Most Sold</span>
                        <h2 class="title">Most Sold in OFE Store</h2>
                    </div>
                    <div class="row row-cols-xl-2 row-cols-1 row--15">
                        {% for product in most_sold_products %}
                            <div class="col">
                            <div class="axil-product-list">
                                <div class="thumbnail">
                                    <a href="shop/{{product.Slug}}" >
                                        <img data-sal="zoom-in" data-sal-delay="100" data-sal-duration="1500" style="width:120px; hight:120px;" src="{{product.Image.url}}" alt="Yantiti Leather Bags">
                                    </a>
                                </div>
                                <div class="product-content">
                                    <div class="product-rating">
                                        <span class="rating-icon">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fal fa-star"></i>
                                </span>

                                    </div>
                                    <h6 class="product-title"><a href="shop/{{product.Slug}}">{{product.Name}}</a></h6>
                                    <div class="product-price-variant">
                                        <span class="price current-price">EG{{product.Price}}</span>

                                    </div>
                                    <div class="product-cart">
                                        <a href="{% url 'add_to_cart' product.id %}" class="cart-btn"><i class="fal fa-shopping-cart"></i></a>
                                        <a href="{% url 'add_to_wishlist' product.id %}" class="cart-btn"><i class="fal fa-heart"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <!-- End Most Sold Product Area  -->

        <!-- Start Why Choose Area  -->
    
        <!-- End Axil Newsletter Area  -->

    </main>


    <!-- Product Quick View Modal Start -->
   
    <!-- Product Quick View Modal End -->

    <!-- Header Search Modal End -->
    
    <!-- Header Search Modal End -->


   

    <!-- Offer Modal Start -->
   
    
{% endblock content %}