{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
  <main class="main-wrapper">

        <!-- Start Shop Area  -->
        <div class="axil-single-product-area axil-section-gap pb--0 bg-color-white">
            <div class="single-product-thumb mb--40">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7 mb--40">
                            <div class="row">
                                <div class="col-lg-10 order-lg-2">
                                    <div class="single-product-thumbnail-wrap zoom-gallery">
                                        <div class="single-product-thumbnail product-large-thumbnail-3 axil-product">

                                            <div class="thumbnail">
                                                <a href="{{pro.Image.url}}" class="popup-zoom">
                                                    <img src="{{pro.Image.url}}" alt="Product Images">
                                                </a>
                                            </div>
                                            {% for image in related_images %}
                                                <div class="thumbnail">
                                                    <a href="{{image.images.url}}" class="popup-zoom">
                                                        <img src="{{image.images.url}}" alt="Product Images">
                                                    </a>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <div class="label-block">
                                            <div class="product-badget">{{pro.Flag}}</div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-5 mb--40">
                            <div class="single-product-content">
                                <div class="inner">
                                    <h2 class="product-title">{{pro.Name}}</h2>
                                    <span class="price-amount">{{pro.Price}}</span>
                                    <div class="product-rating">
                                        <div class="star-rating">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="far fa-star"></i>
                                        </div>
                                        <div class="review-link">
                                            <a href="#">(<span>{{pro.review_product.all | length}}</span> customer reviews)</a>
                                        </div>
                                    </div>
                                    <ul class="product-meta">
                                        <li><i class="fal fa-check"></i>In stock</li>
                                    </ul>
                                    <p class="description">In ornare lorem ut est dapibus, ut tincidunt nisi pretium. Integer ante est, elementum eget magna. Pellentesque sagittis dictum libero, eu dignissim tellus.</p>

                                    <div class="product-variations-wrapper">

                                        <!-- Start Product Variation  -->
                                        <div class="product-variation">
                                            <h6 class="title">Colors:</h6>
                                            <div class="color-variant-wrapper">
                                                <ul class="color-variant">
                                                    <li class="color-extra-01 active"><span><span class="color"></span></span>
                                                    </li>
                                                    <li class="color-extra-02"><span><span class="color"></span></span>
                                                    </li>
                                                    <li class="color-extra-03"><span><span class="color"></span></span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- End Product Variation  -->

                                        <!-- Start Product Variation  -->
                                        <div class="product-variation product-size-variation">
                                            <h6 class="title">Size:</h6>
                                            <ul class="range-variant">
                                                <li>xs</li>
                                                <li>s</li>
                                                <li>m</li>
                                                <li>l</li>
                                                <li>xl</li>
                                            </ul>
                                        </div>
                                        <!-- End Product Variation  -->

                                    </div>

                                    <!-- Start Product Action Wrapper  -->
                                    <div class="product-action-wrapper d-flex-center">
                                        <!-- Start Quentity Action  -->
                                        <div class="pro-qty"><input type="text" value="1"></div>
                                        <!-- End Quentity Action  -->

                                        <!-- Start Product Action  -->
                                        <ul class="product-action d-flex-center mb--0">
                                            <li class="add-to-cart"><a href="{% url 'add_to_cart' pro.id %}" class="axil-btn btn-bg-primary">Add to Cart</a></li>
                                            <li class="wishlist"><a href="{% url 'add_to_wishlist' pro.id %}" class="axil-btn wishlist-btn"><i class="far fa-heart"></i></a></li>
                                        </ul>
                                        <!-- End Product Action  -->

                                    </div>
                                    <!-- End Product Action Wrapper  -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End .single-product-thumb -->
        </div>


        <div class="woocommerce-tabs wc-tabs-wrapper bg-vista-white">
            <div class="container">
                <ul class="nav tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a id="reviews-tab" data-bs-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="false">Reviews</a>
                    </li>
                </ul>
                
                    <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
                        <div class="reviews-wrapper">
                            <div class="row">
                                <div class="col-lg-6 mb--40">
                                    <div class="axil-comment-area pro-desc-commnet-area">
                                        <h5 class="title">{{pro.review_product.all | length}} Review for this product</h5>
                                        <ul class="comment-list">

                                            <!-- Start Single Comment  -->
                                            {% for review in reviews%}
                                                <li class="comment">
                                                <div class="comment-body">
                                                    <div class="single-comment">
                                                        <div class="comment-img">
                                                            {% if request.user.image %}
                                                                <img style="width:70px; hight:70px" src="{{ request.user.image.url }}" alt="User Image">
                                                            {% else %}
                                                                <img style="width:70px; hight:70px" src="{% static 'assets/images/defut.png' %}" alt="Default Image">
                                                            {% endif %}
                                                        </div>
                                                        <div class="comment-inner">
                                                            <h6 class="commenter">
                                                                <a class="hover-flip-item-wrapper" href="#">
                                                                    <span class="hover-flip-item">
                                                                        <span data-text="Cameron Williamson">{{review.user.name}}</span>
                                                                    </span>
                                                                </a>
                                                                <span class="commenter-rating ratiing-four-star">
                                                                    <a href="#"><i class="fas {% if review.rate > 0 %}fa-star{% else %} empty-rating{% endif %}"></i></a>
                                                                    <a href="#"><i class="fas {% if review.rate > 1 %}fa-star{% else %} empty-rating{% endif %}"></i></a>
                                                                    <a href="#"><i class="fas {% if review.rate > 2 %}fa-star{% else %} empty-rating{% endif %}"></i></a>
                                                                    <a href="#"><i class="fas {% if review.rate > 3 %}fa-star{% else %} empty-rating{% endif %}"></i></a>
                                                                    <a href="#"><i class="fas {% if review.rate > 4 %}fa-star{% else %} empty-rating{% endif %}"></i></a>

                                                                </span>
                                                            </h6>
                                                            <div class="comment-text">
                                                                <p>{{review.content}}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <!-- End Single Comment  -->
                                            {% endfor %}


                                            <!-- End Single Comment  -->
                                        </ul>
                                    </div>
                                    <!-- End .axil-commnet-area -->
                                </div>
                                <!-- End .col -->

                                    <!-- Start Comment Respond  -->
                                        <form method="post" class="col-lg-6 mb--40">
                                            {% csrf_token %}
                                            {{ form.message.label_tag }}
                                            {{ form.message }}
                                            {{ form.name.label_tag }}
                                            {{ form.name }}
                                            {{ form.email.label_tag }}
                                            {{ form.email }}

                                            <div class="rating-wrapper d-flex-center mb--40">
                                                Your Rating <span class="require">*</span>
                                           <div class="rating-inner ml--20">
                                                <input type="radio" id="star5" name="rate" value="5">
                                                <label for="star5" class="star-label"><i class="fal fa-star"></i></label>

                                                <input type="radio" id="star4" name="rate" value="4">
                                                <label for="star4" class="star-label"><i class="fal fa-star"></i></label>

                                                <input type="radio" id="star3" name="rate" value="3">
                                                <label for="star3" class="star-label"><i class="fal fa-star"></i></label>

                                                <input type="radio" id="star2" name="rate" value="2">
                                                <label for="star2" class="star-label"><i class="fal fa-star"></i></label>

                                                <input type="radio" id="star1" name="rate" value="1">
                                                <label for="star1" class="star-label"><i class="fal fa-star"></i></label>
                                            </div>
                                            </div>

                                            <button type="submit" class="axil-btn btn-bg-primary w-auto">Submit Comment</button>
                                        </form>



                                <!-- End .col -->
                            </div>
                        </div>
                    </div>

            </div>
        </div>

        <!-- Start Recently Viewed Product Area  -->
        <div class="axil-product-area bg-color-white axil-section-gap pb--50 pb_sm--30">
            <div class="container">
                <div class="section-title-wrapper">
                    <span class="title-highlighter highlighter-primary"><i class="far fa-shopping-basket"></i> Your Recently</span>
                    <h2 class="title">Related Items</h2>
                </div>

                <div class="recent-product-activation slick-layout-wrapper--15 axil-slick-arrow arrow-top-slide">
                    {% for pro in related %}
                    <div class="slick-single-layout">
                        <div class="axil-product">
                            <div class="thumbnail">
                                <a href="{{pro.Slug}}/">
                                    <img src="{{pro.Image.url}}" style="width:200px;hight:200px;" alt="Product Images">
                                </a>
                                <div class="label-block label-right">
                                    <div class="product-badget">{{pro.Flag}}</div>
                                </div>
                                <div class="product-hover-action">
                                    <ul class="cart-action">
                                        <li class="wishlist"><a href="{% url 'add_to_wishlist' pro.id %}"><i class="far fa-heart"></i></a></li>
                                        <li class="select-option"><a href="{% url 'add_to_cart' pro.id %}">Add to Cart</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-content">
                                <div class="inner">
                                    <h5 class="title"><a href="{{pro.Slug}}/">{{pro.Name}}</a></h5>
                                    <div class="product-price-variant">
                                        <span class="price current-price">{{pro.Price}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
        <!-- End Recently Viewed Product Area  -->
        <!-- Start Axil Newsletter Area  -->

        <!-- End Axil Newsletter Area  -->
    </main>
{% endblock content %}
