{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
      <div class="breadcrumbs">
        <a href="{% url 'home' %}"><i class="las la-home"></i></a>
        <a href="{% url 'grid' %}" class="active">Shop</a>
      </div>
    </div>

    <!-- shop list view -->
    <div class="shop_wrap section_padding_b">
      <div class="container">
        <div class="row">
          <div class="col-xl-3 col-lg-4 position-relative">
            <div class="filter_box py-3 px-3 shadow_sm">
              <div class="close_filter d-block d-lg-none">
                <i class="las la-times"></i>
              </div>


                  <div class="shop_filter d-block d-sm-none">
                    <h4 class="filter_title">Sort by</h4>
                    <div class="nice-select">
                      <a href="{% url 'shop' %}" class="sort-option">Default sorting</a>
                      <a href="{% url 'shop' %}?sort_by=price_high" class="sort-option">Sort by Price (High to Low)</a>
                      <a href="{% url 'shop' %}?sort_by=price_low" class="sort-option">Sort by Price (Low to High)</a>
                    </div>
                  </div>




                
              <div class="shop_filter">
                <h4 class="filter_title">Categories</h4>
                <div class="filter_list">
                  {% for cat in  category %}
                    <div class="d-flex align-items-center">
                      <a href="{% url 'shop_by_category' cat.id %}" ><label for="cat-women">{{cat.name}}</label></a>
                      <p class="mb-0 ms-auto">({{ cat.product_count }})</p>
                    </div>
                  {% endfor %}
                </div>
              </div>

              
              <div class="shop_filter">
                <h4 class="filter_title">Default sorting</h4>
                <div class="filter_list">
                  <div class="d-flex align-items-center">
                    <a href="{% url 'shop' %}"><label for="cat-women">Default sorting</label></a>
                    <a href="{% url 'shop' %}?sort_by=price_high" ><label for="cat-women"> high to Low</label></a>
                    <a href="{% url 'shop' %}?sort_by=price_low"><label for="cat-women">low to High</label></a>

                  </div>
                  
                </div>
              </div>
              
            

                <div class="shop_filter">
                  <h4 class="filter_title">Price</h4>
                  <div class="price-range-slider">
                    <div id="slider-range" class="range-bar"></div>
                    <p class="range-value">
                      <input type="text" id="amount" readonly>
                    </p>
                  </div>
                </div>

           




            </div>
          </div>
          <div class="col-xl-9 col-lg-8">
            <div class="d-flex align-items-center">
              <div class="d-block d-lg-none">
                <button
                  class="default_btn py-2 me-3 rounded"
                  id="mobile_filter_btn"
                >
                  Filter
                </button>
              </div>

              <div class="sorting_filter d-none d-sm-block">
                <select class="nice_select">
                  <option value="">Default sorting</option>
                  <option value="">Price low-high</option>
                  <option value="">Price high-low</option>
                </select>
              </div>
              
              <div class="view_filter d-flex align-items-center ms-auto">
                <a href="{% url 'shop' %}">
                  <div class="view_icon"><i class="icon-grid"></i></div>
                </a>
                <a href="{% url 'grid' %}">
                  <div class="view_icon active">
                    <i class="las la-list-ul"></i>
                  </div>
                </a>
              </div>
            </div>
            <div class="shop_products">
              <div class="list_view_products">

            {% for pro in pro  %}

                <div class="single_list_product">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="list_product_img">
                        <div class="lp_img">
                          <a href="{% url 'detail' pro.id %}">
                            <img
                              loading="lazy"
                              src="{{pro.Image.url}}"
                              alt="product"
                            />
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="product_content">
                        <a href="{% url 'detail' pro.id %}">
                          <h5>{{pro.Name}}</h5>
                        </a>
                        <div class="ratprice">
                          <div class="price">
                            <span class="org_price">EG {{pro.Price}}</span>
                          </div>
                          <div class="rating">
                            <div
                              class="d-flex align-items-center justify-content-start"
                            >
                              <div class="rating_star">
                                <span><i class="las la-star"></i></span>
                                <span><i class="las la-star"></i></span>
                                <span><i class="las la-star"></i></span>
                                <span><i class="las la-star"></i></span>
                                <span><i class="las la-star"></i></span>
                              </div>
                              <p class="rating_count">(150)</p>
                            </div>
                          </div>
                        </div>
                        <p class="product_list_desc">
                          {{pro.Description}}
                        </p>
                        <div class="product_list_btns">
                        <a href="{% url 'add_to_cart' pro.id %}" class="default_btn small rounded me-sm-3 me-2 px-4"><i class="icon-cart me-2"></i> Add to Cart</a>
                        <a href="{% url 'add_to_wishlist' pro.id %}" class="default_btn small rounded me-sm-3 me-2 px-4"><i class="icon-heart"></i> Add to wishlist</a>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            {% endfor %}
                
               
              </div>
            </div>
            <div
              class="pagination_wrp d-flex align-items-center justify-content-center"
            >
              <div class="single_paginat active">1</div>
              <div class="single_paginat">2</div>
              <div class="single_paginat">3</div>
              <div class="single_paginat">4</div>
              <div class="single_paginat">
                <i class="las la-long-arrow-alt-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>





{% endblock content %}
