{% extends 'base.html' %}
{%load static%}
{%block content%}


    <main class="main-wrapper">
        <!-- Start Breadcrumb Area  -->

        <!-- End Breadcrumb Area  -->

        <!-- Start Contact Area  -->
        <div class="axil-contact-page-area axil-section-gap">
            <div class="container">
                <div class="axil-contact-page">
                    <div class="row row--30">
                        <div class="col-lg-8">
                            <div class="contact-form">
                                <h3 class="title mb--10">We would love to hear from you.</h3>
                                <p>If you’ve got great products your making or looking to work with us then drop us a line.</p>
                                <form method="POST"  action="{% url 'contact' %}"  class="axil-contact-form">

                                    <div class="row row--10">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>E-mail <span>*</span></label>
                                                <input type="email" name="email">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>Subject <span>*</span></label>
                                                <input type="text" name="subject">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label>Your Message</label>
                                                <input name="message" type="text">
                                            </div>
                                        </div>
                                        <div class="col-8">
                                              <button type="submit" >send message</button>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="contact-location mb--40">
                                <h4 class="title mb--20">Our Store</h4>
                                <span class="address mb--20">{{myinfo.Adrees}}</span>
                                <span class="phone">Phone: +2 {{myinfo.Phone}}</span>
                                <span class="email">Email: {{myinfo.Email}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Start Google Map Area  -->

                <!-- End Google Map Area  -->
            </div>
        </div>
        <!-- End Contact Area  -->
    </main>



    <!-- Start Footer Area  -->
  {%endblock content%}